body {
  margin-left: 0.1px;
  margin-top: 0.1px;
  background-color: black;
}
.whatsup_layer {
  height: 100%;
  width: 30%;
  position: fixed;
}
.whatsup_top {
  margin-top: 1px;
  height: 4.2rem;
  border: 2px solid #347f57;
  background-color: #347f57;
  display: flex;
  justify-content: center;
}
.top_layer {
  width: 62%;
  line-height: 2px;
}
h3 {
  color: white;
  font-size: 21px;
  font-family: "Helvetica" sans-serif;
}
.contacts {
  font-size: 14px;
  color: white;
  font-family: "Helvetica" sans-serif;
}
.scrolling {
  margin-top: 0px;
  height: 88%;
  width: 100%;
  background-color: white;
  color: black;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.scrolling::-webkit-scrollbar {
  width: 6px;
}
.scrolling::-webkit-scrollbar-track {
  background: white;
}
.scrolling::-webkit-scrollbar-thumb {
  background: grey;
}
.hovering:hover {
  background-color: #c2c2d6;
}
.whatsup_bottom {
  margin-top: 0px;
  margin-left: 18px;
  width: 90%;
}
.bottom {
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}
.setting {
  width: 18%;
}
img {
  margin-top: 12px;
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 50%;
  border: 1.5px solid #a3a3c2;
}
.chats {
  margin-top: 6px;
  line-height: 0.3px;
  font-family: "Helvetica" sans-serif;
}
h4 {
  font-size: 15.5px;
}
.status {
  margin-bottom: 1rem;
  font-size: 13px;
  font-family: "Helvetica" sans-serif;
  color: #262626;
}
hr {
  margin-bottom: 0.1px;
  margin-right: 0.1px;
  background-color: #c2c2d6;
  width: 18.5rem;
}
