body {
    background-repeat: no-repeat;
    background-size: 100%;
}
#container {
    width: 30%;
    font-size: 22px;
}
#List {
    color: black;
}
hr {
    color: black;
}
#cardBtn {
    width: 88%;
    margin-left: 17px;
}